{% extends 'index.html' %}
{% block content %}
<h1>INFORMACIÓ ESTUDIANTS TIC BARCELONA (aplicació centre)</h1>
<table>
    <tr>
        <th>ID</th>
        <th>NOM</th>
        <th>COGNOM1</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.nom }}</td>
        <td>{{ student.cognom1 }}</td>
        <td><a href="{% url 'student' student.id %}">+ INFO</a></td>
        <td><a href="{% url 'update-user' student.id %}">EDIT</a></td>
        <td><a href="{% url 'delete-user' student.id %}">DELETE</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}