@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, .submit {
  background: #105469;
  font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}
table, form {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
form {
  width: fit-content;
  border-radius: 10px;
  border: 2px solid grey;
}
.center {
    display:flex;
    justify-content:center;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}

td, h1, p, input, select, h2 {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}

a {
    background-color: #105469;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

a:hover,
a:focus,
.submit:hover,
.submit:focus{
  background-color: #F082AC;
}
h1, h2 {
  background: #012B39;
  margin: 0.5em;
  border: 2px solid grey;
  text-align: center;
  border-radius: 10px;
}
.btn {
  background-color: #012B39;
  margin: 1em;
}
input, select {
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid grey;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
option {
  color:black;
}
.submit {
  width: 75%;
  margin-left: 45px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 0px;
}
label {
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
}
.delBtn {
    cursor: pointer;
    border: none;
    color: white;
    background-color: #012B39;
    margin: 1em;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
}
.delBtn:hover {
    background-color: #F082AC;
}
.delForm {
    background: #105469;
    border: none;
}