<!doctype html>
<!-- per carregar els estils CSS que es troben a la carpeta 'static' -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Centre Template</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>
<!-- incloem el header amb include perquè el carregui cada cop que es carrega l'index-->
{% include "head/header.html" %}
    <h1>PRÀCTICA 1 - VIEWS I TEMPLATES</h1>
    <!-- block content que exten el nostre index i que conté el template de la view que es cridi segons la funció que utilitzem-->
    {% block content %}

    {% endblock %}
</body>
</html>